<h1 class="title is-flex is-justify-content-center">Sign up</h1>

<div class="container is-flex is-justify-content-center">
  <div class="box" style="width: 50%;">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br />
        <div class="control mt-1">
          <%= f.text_field :name, autofocus: true, autocomplete: "email", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <div class="control mt-1">
          <%= f.email_field :email, autocomplete: "email", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <div class="control mt-1">
          <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <div class="control mt-1">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button is-info mt-3" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
