<h1 class="title is-flex is-justify-content-center">Add New Food</h1>

<div class="container" style="width: 50%;">
  <%= form_with model: @food, url: foods_path, method: :post, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "label" %>
      <%= form.text_field :name, class: "input" %>
    </div>

    <div class="mb-3">
      <%= form.label :measurement_unit, class: "label" %>
      <%= form.text_field :measurement_unit, class: "input" %>
    </div>

    <div class="mb-3">
      <%= form.label :price, class: "label" %>
      <%= form.number_field :price, class: "input", step: 1 %>
    </div>

    <div class="mb-3">
      <%= form.label :quantity, class: "label" %>
      <%= form.number_field :quantity, class: "input", step: 1 %>
    </div>

    <div>
      <%= form.submit class: "button is-info" %>
    </div>
  <% end %>
</div>

